<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DCF-refactor/src/launcher/CFLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="launcher.CFLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-var=_max-4_ld-1--1 -method=DICF-PB-Token-FixedOrder-11-10-9-8-7-6-5-4-3-2-1-0 -dist=_kmet12 -verbose glucolysis.sol debugGluc.csv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DCF-refactor"/>
</launchConfiguration>
