<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProblemsLibrary/src/utilitaires/dcf2ocnf.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="utilitaires.dcf2ocnf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="medium_kmet8.dcf testOutput.o.cnf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProblemsLibrary"/>
</launchConfiguration>
