<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProblemsLibrary/src/utilitaires/graph2dcf.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="utilitaires.graph2dcf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="glucolysis-corrected.sol glucolysisGraph.gra.part.6 glucolysis.temis.6.dcf"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProblemsLibrary"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1048M"/>
</launchConfiguration>
